@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(0, 0%, 98%);
  --font-color: hsl(231, 10%, 14%);
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.dark-mode {
  background-color: var(--font-color);
  color: var(--bg-color);
}

.dark-mode .search,
.dark-mode .back-button {
  color: white;
  background-color: var(--font-color);
}

.dark-mode footer {
  background-color: #1f2232;
}

.dark-mode footer p,
.dark-mode .no-country {
  color: #f0f0f0;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: var(--font-color);
  z-index: 10;
}

.dark-mode .loading {
  color: var(--bg-color);
}

.first-container {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

button {
  border: none;
  outline: none;
  background: none;
}

.toggle {
  cursor: pointer;
}

.icon {
  margin-right: 8px;
}

.controls {
  display: flex;
  align-items: center;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 18px 20px;
  border-radius: 5px;
}

.controls input {
  outline: none;
  border: none;
  width: 200px;
  background: none;
}

.search,
.regions {
  color: var(--font-color);
}

.dropdownMenu {
  width: 200px;
  cursor: pointer;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 18px 20px;
  border-radius: 5px;
}
.drop-options {
  position: absolute;
  display: none;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background-color: var(--bg-color);
  padding: 15px 20px;
  margin-top: 15px;
  z-index: 1;
}

.drop-options p {
  margin: 5px 0;
}

.show-options {
  display: block;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  padding: 30px;
}

.country {
  width: 250px;
  min-height: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-bottom: 3rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  transform: translateX(20px) translateY(20px);
}

.country:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.country.show {
  opacity: 1;
  transform: translateX(-15px) translateX(15px);
}

.country-img {
  width: 250px;
  height: 150px;
}

.country-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.country-details {
  justify-content: center;
  padding: 20px 25px;
}

.country-details h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.country-details strong {
  margin-right: 5px;
}

.no-country {
  display: none;
  margin: 20px 0;
  padding: 10px;
  color: var(--font-color);
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  transition: opacity 0.3s;
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  margin-top: 20px;
}

footer p {
  margin: 0;
  color: #1f2232;
}

.go-to-top {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 15px;
  background-color: #030552;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/**************Country Page***********/
.back-button {
  margin: 20px 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: none;
  color: var(--font-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
}

ul {
  list-style-type: none;
  margin-left: 15px;
}
.back-button:hover {
  background-color: #b3b9c0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.country-details-container {
  padding: 20px;
  text-align: center;
}

.country-details-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.country-details-img {
  width: 350px;
  height: 200px;
  margin-right: 20px;
  margin-left: 200px;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(20px);
}

.country-details-img:hover {
  transform: translateY(-5px);
}

.country-details {
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
}
